
body {
    padding: 0;
    margin: 0;
    background-color: rgb(211, 250, 211);
    background-size: 100% 100%;
    font-family: "Montserrat", sans-serif;

}
          
ul.navigation {
    display:flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw; 
    margin: 0;
    list-style-type: none;
    background-color:rgb(224, 161, 236);
    padding: 0;
}

ul.navigation li {
    background-color: rgb(224, 161, 236);
    float: left;
}

ul.navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navigation a:hover:not(.active) {
    background-color: rgb(184, 106, 194);
    color: rgb(144, 25, 168);
}

ul.navigation a.active {
    color: white;
}

.active {
    background-color: rgb(62, 4, 80);
} 
