
body {
    background-color: #c6d0f5;
    padding:0;
    font-style: italic;
    margin-top: 100px;
    background-color: rgb(204, 240, 204);
}
   
h3 {
    text-align: center;
}

table, tr, td, th {
    border: 2px dashed;
    color: rgb(88, 65, 109);
    font-style: oblique;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


ul.navigation {
    display:flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw; 
    margin: 0;
    list-style-type: none;
    background-color:rgb(224, 161, 236);
    padding: 0;
}

ul.navigation li {
    background-color: rgb(224, 161, 236);
    float: left;
}

ul.navigation li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navigation a:hover:not(.active) {
    background-color: rgb(184, 106, 194);
    color: rgb(144, 25, 168);
}

ul.navigation a.active {
    color: white;
}

.active {
    background-color: rgb(62, 4, 80);
} 
